<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/icon-books.png" alt="" width="30" height="24">Libreria
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a routerLink="/login" class="btn btn-primary" role="button">
        Iniciar Sesión
      </a>
    </div>
  
    <!-- ng if  Cerrar Sesion-->
</nav>
  
  