<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/icon-books.png" alt="" width="30" height="24">Libreria
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a routerLink="/login" class="btn btn-primary" role="button">
        Iniciar Sesión
      </a>
    </div>
  
    <div *ngIf="userIsAuth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
  
        <li class="nav-item" style="margin-right:10px">
          <a class="nav-link">Bienvenido, {{username}}</a>
        </li>
  
        <li class="nav-item" style="margin-right:10px">
          <a routerLink="/login" class="nav-link" (click)="logout()">Cerrar Sesión</a>
        </li>
  
      </ul>
    </div>
</nav>
  
  