<h1 class="text-center">Lista de Libros :D</h1>
<div class="container mt-4">
    <button type="button" class="btn btn-dark" routerLink="/crearLibro">Agregar libro</button>
    <div class="row">
        <div *ngFor="let book of filterBooks" class="col-xs-20 col-sm-4">
            <div class="card h-80">
                <img [src]="book.image_url" class="img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                    <p>
                        <strong class=""> Editorial: </strong> <a (click)="searchBooksByEditorial(book)" class="badge text-bg-warning editorial" [text]="book.editorial_id.name"></a>
                    </p>
                    <strong class=""> Descripción: </strong> <p class="card-text">{{book.description}}</p>
                </div>
                <div>
                    <div class="card-footer text-muted d-flex">
                        <a [routerLink]="['/modificarLibro/', book.id]" class="btn btn-dark me-2">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button *ngFor="let boton of botonesPag" (click)="changePage(+boton)" class="me-3">{{boton}}</button>
    </div>
</div>